<a href="https://colab.research.google.com/github/GaiaAlberto/Acfbiellese-Statistiche/blob/main/Alberto_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n1 = int(input("Inserisci il primo numero: "))
n2 = int(input("Inserisci il secondo numero: "))

if n1 == n2:
    print("I numeri sono uguali")
elif n1 > n2:
    print("Il numero più grande tra i due è " + str(n1))
else:
    print("Il numero più grande tra i due è " + str(n2))

Inserisci il primo numero: 35
Inserisci il secondo numero: 4
Il numero più grande tra i due è 35

In [ ]:
a = int(input("Inserisci il primo numero"))
b = int(input("Inserisci il secondo numero"))
c = int(input("Inserisci il terzo numero"))

if a > b & b > c:
  print(a)
elif b > a & a > c:
  print(b)
elif c > b & b> a:
  print(c)

Inserisci il primo numero54
Inserisci il secondo numero4
Inserisci il terzo numero2
54

In [ ]:
lista_numeri = [78, 34, 6, 9, 10, 77, 7]
numero_maggiore = lista_numeri[0]

for numero in lista_numeri:
  if numero > numero_maggiore:
   numero_maggiore = lista_numeri[numero]

print("Il numero maggiore della lista è: ", numero_maggiore)

Il numero maggiore della lista è:  78

In [ ]:
carattere = input("inserisci un carattere").lower()
vocali = "aeiou"
if carattere in vocali:
  print(f"il carattere '{carattere}' è una vocale")
else:
  print(f"il carattere '{carattere}' noon è una vocale")

inserisci un caratterea
il carattere 'a' è una vocale

In [ ]:
lista_num = [10, 5, 7, 2, 8]
somma = 0

for numeri in lista_num :
  somma = somma + numeri
print(f"la somma dei numerin è uguale a {somma}")

la somma dei numerin è uguale a 32

In [ ]:
lista_moltiplicazione = [10, 2, 1]
somma_moltiplica = 1
for numeri in lista_num :
  if numeri != 0:
   somma_moltiplica *= numeri
print(f"la somma dei numerin è uguale a {somma_moltiplica}")

la somma dei numerin è uguale a 5600

In [ ]:

lista = ['pera', 'mela', 'pesca', 'banana']
elemento = 'pesca'
trovato = False

for frutti in lista:
  if frutti == elemento :
    trovato = True
    break

if trovato:
  print(f"L'elemento {elemento} si trova nella lista")
else :
  print(f"l'elemento {elemento} non si trova nella lista")

L'elemento pesca si trova nella lista

In [ ]:
lista = [3, 7, 9, 5]
def istogramma(lista):
    for numero in lista:
        print("*" * numero)

istogramma([3, 7, 9, 5])

***
*******
*********
*****

In [ ]:
def len(lst_or_str):
    length = 0
    for unit in lst_or_str:
        length += 1
    return length

print(len(lista_num))

5

In [ ]:
def lunghezze_parole_for(lista_a):
  lista_b = []
  for parola in lista_a:
    lista_b.append(len(parola))
  return lista_b

parole_esempio = ['pane', 'acqua', 'sole', 'montagna']
risultato_for = lunghezze_parole_for(parole_esempio)
print(f"Lista A: {parole_esempio}")
print(f"Lista B: {risultato_for}")

Lista A: ['pane', 'acqua', 'sole', 'montagna']
Lista B: [4, 5, 4, 8]

In [ ]:
#esercizio 011 troppo difficile

In [ ]:
def converti_metri(metri):
    miglia_per_metro = 0.000621371
    iarde_per_metro = 1.09361
    piedi_per_metro = 3.28084
    pollici_per_metro = 39.3701

    miglia = metri * miglia_per_metro
    iarde = metri * iarde_per_metro
    piedi = metri * piedi_per_metro
    pollici = metri * pollici_per_metro

    print(f"{metri} metri equivalgono a:")
    print(f"  {miglia:.6f} miglia terrestri")
    print(f"  {iarde:.2f} iarde")
    print(f"  {piedi:.2f} piedi")
    print(f"  {pollici:.2f} pollici")


converti_metri(100)
print("\n")
converti_metri(5000)

100 metri equivalgono a:
  0.062137 miglia terrestri
  109.36 iarde
  328.08 piedi
  3937.01 pollici


5000 metri equivalgono a:
  3.106855 miglia terrestri
  5468.05 iarde
  16404.20 piedi
  196850.50 pollici

In [ ]:
def calcola_secondi():
    print("Questa funzione converte un dato numero di Giorni, Ore e Minuti in Secondi.")
    da_giorni = int(input("Inserisci il numero di giorni: ")) * 24 * 3600
    da_ore = int(input("Inserisci il numero di ore: ")) * 3600
    da_minuti = int(input("Inserisci il numero di minuti: ")) * 60
    totale = da_giorni + da_ore + da_minuti
    print(totale)

In [ ]:
def calcola_secondi():
    print("Questa funzione converte un dato numero di Giorni, Ore e Minuti in Secondi.")
    giorni = int(input("Inserisci il numero di giorni: "))
    ore = int(input("Inserisci il numero di ore: "))
    minuti = int(input("Inserisci il numero di minuti: "))

    secondi_giorni = giorni * 24 * 3600
    secondi_ore = ore * 3600
    secondi_minuti = minuti * 60

    totale_secondi = secondi_giorni + secondi_ore + secondi_minuti
    print(f"Il totale è: {totale_secondi} secondi")

calcola_secondi()

Questa funzione converte un dato numero di Giorni, Ore e Minuti in Secondi.
Inserisci il numero di giorni: 3
Inserisci il numero di ore: 1
Inserisci il numero di minuti: 55
Il totale è: 266100 secondi

In [ ]:
def geometra():
    print("""
    Benvenuti alla funzione Geometra!
    In fase di selezione, a ciascun possibile calcolo corrisponde un valore numerico:
    - Area Quadrato: 1
    - Area Rettangolo: 2
    - Area Triangolo: 3
    - Area Cerchio: 4
    """)

    print('Dunque. Di quale figura geometrica desideri calcolare l\'area?')
    scelta = int(input(">>> "))
    if scelta == 1:
        print("Hai scelto: Area Quadrato")
        lato = float(input('Inserisci il valore del lato del quadrato '))
        print(f"L'Area del Quadrato, avente lato {lato} è: {lato * lato}")
    elif scelta == 2:
        print("Hai scelto: Area Rettangolo")
        base = float(input('Inserisci il valore della base '))
        altezza = float(input('Inserisci il valore dell´altezza '))
        print(f"L'Area del Rettangolo, avente base {base} e altezza {altezza} è: {base * altezza}")
    elif scelta == 3:
        print("Hai scelto: Area Triangolo")
        base = float(input('Inserisci il valore della base '))
        altezza = float(input('Inserisci il valore dell´altezza '))
        print(f"L'Area del Triangolo, avente base {base} e altezza {altezza} è: {(base * altezza) / 2}")
    elif scelta == 4:
        print("Hai scelto: Area Cerchio")
        r = float(input('Inserisci il valore del raggio '))
        print(f"L'Area del Cerchio, avente raggio {r} è: {(r * r) * 3.14}")
    else:
        print ('Nessun calcolo disponibile per la scelta effettuata!')

geometra()

    Benvenuti alla funzione Geometra!
    In fase di selezione, a ciascun possibile calcolo corrisponde un valore numerico:
    - Area Quadrato: 1
    - Area Rettangolo: 2
    - Area Triangolo: 3
    - Area Cerchio: 4

Dunque. Di quale figura geometrica desideri calcolare l'area?
>>> 4
Hai scelto: Area Cerchio
Inserisci il valore del raggio 30
L'Area del Cerchio, avente raggio 30.0 è: 2826.0

In [ ]:
#esercizio 15  non capito

In [ ]:
import platform

def sys_info():
    print("Il Sistema attualmente in uso è: " + platform.system())
    print("Info Release: " + platform.release())

sys_info()

Il Sistema attualmente in uso è: Linux
Info Release: 6.6.105+

In [ ]:
def trova_ascii():
    carattere = input("Inserisci il carattere che ti interessa convertire: ")
    valore = ord(carattere)
    output = f"Il valore ASCII associato a '{carattere}' è {valore}"
    return output

trova_ascii()

Inserisci il carattere che ti interessa convertire: a

"Il valore ASCII associato a 'a' è 97"

In [ ]:
def perfetto(n):
    somma_divisori = 0

    # Itera sui numeri da 1 a n/2 (escluso n)
    for i in range(1, n//2 + 1):
        # Se i è un divisore di n, si aggiunge alla somma
        if n % i == 0:
            somma_divisori += i

    # Se la somma dei divisori è uguale a n, allora n è un numero perfetto
    if somma_divisori == n:
        return True
    else:
        return False

n = int(input("Inserisci un numero intero positivo: "))
if perfetto(n):
    print(f"Il numero {n} è un numero perfetto.")
else:
    print(f"Il numero {n} non è un numero perfetto.")

Inserisci un numero intero positivo: 10
Il numero 10 non è un numero perfetto.

In [ ]:
def colori():
    colors = []
    for _ in range(10):
        color = input("Inserisci un colore: ")
        colors.append(color)

    # Chiede di inserire una lettera
    letter = input("Inserisci una lettera: ")

    return [color for color in colors if color.startswith(letter)]

colori()

Inserisci un colore: giallo
Inserisci un colore: blu
Inserisci un colore: azzurro
Inserisci un colore: arancione
Inserisci un colore: rosso
Inserisci un colore: bianco
Inserisci un colore: nero
Inserisci un colore: viola
Inserisci un colore: verde
Inserisci un colore: marrone
Inserisci una lettera: v

['viola', 'verde']

In [ ]:
def print_senza_andare_a_capo():
    input_utente = input("Inserisci una stringa: ")
    while input_utente != "":
        print(input_utente, end=" ")
        input_utente = input("Inserisci una stringa: ")

print_senza_andare_a_capo()

Inserisci una stringa: ciao
ciao Inserisci una stringa: bella
bella Inserisci una stringa:

In [ ]:
def segreteria(studenti):
    for studente in studenti:
        media_voti = sum(studente["voti"]) / float(len(studente["voti"]))
        studente["media"] = media_voti
    return studenti

studenti = [
    {"nome": "Mario", "cognome": "Rossi", "classe": "3A", "voti": [6, 10, 8]},
    {"nome": "Luigi", "cognome": "Bianchi", "classe": "3A", "voti": [7, 8, 9]},
    {"nome": "Anna", "cognome": "Verdi", "classe": "3B", "voti": [8, 9, 10]},
]

registro_segreteria = segreteria(studenti)
for el in registro_segreteria:
    print(el)

{'nome': 'Mario', 'cognome': 'Rossi', 'classe': '3A', 'voti': [6, 10, 8], 'media': 8.0}
{'nome': 'Luigi', 'cognome': 'Bianchi', 'classe': '3A', 'voti': [7, 8, 9], 'media': 8.0}
{'nome': 'Anna', 'cognome': 'Verdi', 'classe': '3B', 'voti': [8, 9, 10], 'media': 9.0}

In [ ]:
#es 022 non capito

In [ ]:
def salva_testo_canzone(titolo, testo):
    nome_file = titolo + '.txt'
    with open(nome_file, 'w') as file_testo:
        file_testo.write(testo)
    print(f"Testo della canzone '{titolo}' salvato in '{nome_file}'.")

titolo_canzone = input("Inserisci il titolo della canzone: ")
testo_canzone = input("Inserisci il testo della canzone: ")

salva_testo_canzone(titolo_canzone, testo_canzone)

Inserisci il titolo della canzone: when i was your man
Inserisci il testo della canzone: the lazy song
Testo della canzone 'when i was your man' salvato in 'when i was your man.txt'.

In [ ]:
pianeti = (
    ("Mercurio", "roccioso", 0),
    ("Venere", "roccioso", 0),
    ("Terra", "roccioso", 1),
    ("Marte", "roccioso", 2),
    ("Giove", "gassoso", 95),
    ("Saturno", "gassoso", 83),
    ("Urano", "gassoso", 27),
    ("Nettuno", "gassoso", 14)
)
def info_pianeti():
    # Stampa a schermo il contenuto della tupla
    print("I pianeti del sistema solare sono:")
    for pianeta in pianeti:
        print(f"{pianeta[0]}: {pianeta[1]}, {pianeta[2]} satelliti")

    # Calcola il numero totale di satelliti naturali
    num_satelliti = sum([pianeta[2] for pianeta in pianeti])

    # Stampa a schermo il numero totale di satelliti naturali
    print(f"Il numero totale di satelliti naturali conosciuti nel sistema solare è di {num_satelliti}")

info_pianeti()

I pianeti del sistema solare sono:
Mercurio: roccioso, 0 satelliti
Venere: roccioso, 0 satelliti
Terra: roccioso, 1 satelliti
Marte: roccioso, 2 satelliti
Giove: gassoso, 95 satelliti
Saturno: gassoso, 83 satelliti
Urano: gassoso, 27 satelliti
Nettuno: gassoso, 14 satelliti
Il numero totale di satelliti naturali conosciuti nel sistema solare è di 222

In [ ]:
sport_preferito = input("inserisci il tuo sport preferito")
def sport(sport_preferito):
    sport_squadra = {"calcio", "basket", "volley", "hockey su ghiaccio", "rugby", "football", "curling"}
    sport_individuale = {"tennis", "golf", "pugilato", "atletica", "surf", "nuoto", "ciclismo", "judo"}

    if sport_preferito.lower() in sport_squadra:
        print("Il tuo sport preferito è uno sport di squadra.")
    elif sport_preferito.lower() in sport_individuale:
        print("Il tuo sport preferito è uno sport individuale.")
    else:
        print("Mi dispiace, non conosco questo sport.")

sport("tennis")

inserisci il tuo sport preferitorugby
Il tuo sport preferito è uno sport individuale.